@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #012d6c;
}

header {
    width: 100%;
    position: relative;
}

main {
    margin: auto;
    max-width: 640px;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 1.7em;
}

h2 {
    color: #f2f2f2;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
}

h3 {
    color: #f2f2f2;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.1em;
}

p {
    font-size: 0.9em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.subheading {
    font-size: 0.9em;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.navbar {
    width: 100%;
    position: fixed;
    align-items: center;
    display: flex;
    background: #012d6c;
    justify-content: space-between;
    padding: 1.2vw 6vw;
    z-index: 1000;
}

.logo {
    font-size: 3vw;
    color: #ffffff;
    font-weight: 800;
    Letter-spacing: 2px;
    text-transform: uppercase;
}

.menuitems {
    display: flex;
    margin: auto 0;
}

    .menuitems li {
        list-style: none;
        margin: 0 1.5vw;
    }

        .menuitems li a {
            display: block;
            color: #ffffff;
            font-size: 1.3vw;
            text-decoration: none;
            Letter-spacing: 4px;
            text-transform: uppercase;
        }

        .menuitems li:hover a {
            color: #53f8fc;
        }

.container {
    display: flex;
    margin: 0 auto;
    max-width: 640px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text_container p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #f2f2f2;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.image_container {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    /*margin-top: 10vw;*/
}

video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #53f8fc;
}

.wrapper-social {
    display: flex;
    align-items: center;
    margin: auto 0;
    justify-content: space-between;
}

    .wrapper-social img, .wrapper-social svg, .wrapper-social a {
        width: 1.3rem;
        height: 1.3rem;
        fill: #ffffff;
        transition: fill .2s;
    }

    .wrapper-social a {
        margin-left: 1.5rem;
    }

    .wrapper-social svg:hover {
        fill: #53f8fc;
    }




.bars {
    display: flex;
    align-items: center;
}

    .bars svg {
        width: 1.3rem;
        height: 1.3rem;
        fill: #ffffff;
        transition: fill .2s;
    }

        .bars svg:hover {
            fill: #53f8fc;
        }

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.navbar label {
    display: none;
}




@media (max-width: 900px) {
    body {
        overflow: auto;
    }

    /*
    .wrapper-social img, .wrapper-social svg, .wrapper-social a {
            width: 5vw;
            height: 4vh;
            margin-left: 1.5rem;
            transition: width 0.3s ease, height 0.3s ease, margin-left 0.3s ease;
        }
    */

    .navbar label {
        display: flex;
        color: #ffffff;
        font-size: 4vw;
        padding: 1vw 1.5vw;
        background: #012d6c;
        z-index: 1000;
        cursor: pointer;
    }

    .menuitems {
        position: fixed;
        top: 0;
        right: -40vw;
        width: 40vw;
        height: 100%;
        background: #ffffff;
        padding-top: 15vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease;
    }

        .menuitems li a {
            color: #000000;
            font-size: 4vw;
            margin: 0.5vw 0;
        }

    #check:checked ~ header .navbar .menuitems {
        right: 0;
    }

    .container {
        flex-wrap: wrap;
    }

    .text_container {
        width: 100%;
        z-index: 100;
    }

        .text_container h2 {
            margin-left: 6vw;
        }

        .text_container h3 {
            margin-left: 7vw;
        }

        .text_container p {
            margin-left: 7vw;
            margin-right: 7vw;
        }

    .image_container {
        width: 100%;
        height: 50%;
        overflow: hidden;
        padding: 7vw 10vw;
    }

    .imgbox {
        height: 80%;
        margin: 0;
    }
}
